PORT=3004
ALLOWED_ORIGINS=http://localhost:5174
# SMTP Real Email Config
# GMAIL_USER=your_email@gmail.com
# GMAIL_APP_PASSWORD=your_app_password
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465
# SMTP_USER=your_email@gmail.com
# SMTP_PASS=your_app_password